@import "compass/reset";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
    height: 100%;
    body {
      position: relative;
      height: 100%;
      background-color: rgba(120, 120, 120, 0.4);
      font-family: arial,sans-serif;
    }
}
.container {

}
.all {
  position: relative;
  padding: 50px 0 65px 0;
  min-height: 100%;
  overflow: hidden;
  // Header Section
  header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
      nav {
        width: 60%;
        margin: 0 auto;

      > ul {
          font-size: 0;
          li {
            display: inline-block;
            vertical-align: top;
            height: 50px;
            width: 20%;
            background: #666;
            font-size: 1rem;
            font-size: 14px;
            // letter-spacing: 0;
            border-right: 1px solid black;
            transition: all .3s ease-in-out;
            &:hover{
              background: red;
            }
            &.active {
              background: red;
            }
            a {
              display: inline-block;
              vertical-align: top;
              line-height: 50px;
              width: 100%;
              color: white;
              text-align: center;
              text-decoration: none;
              font-weight: bold;
              }
            .subMenu {
              display: none;
              position: relative;
              z-index: 2;
              transition: all .3s ease-in-out;
              li {
                display: block;
                width: 100%;

              }
            }
            &:last-child{
              border: none;
              &:hover {
                .subMenu {
                  display: block;
                }
              }
            }

          }
        }
      }
  }
  // Slider Section
  #section_1 {
    .slider {
      .item {
        // width: 960px;
        height: 400px;
        img {
          width: 100%;
        }
      }
    }
  }
  // Left Menu Section
  #left_menu {
    float: left;
    width: 15%;
    background: #b9cc66;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 1em;
    .left_menu_head {
      text-align: center;
      margin-bottom: 1em;
    }
    .left_menu_list {
      nav {
        width: 80%;
        margin: 0 auto;
        ul {
          li {
            margin-bottom: .7em;
            a {


            }
            &.act{
              a{
                text-decoration: none;
                color: red;
                font-size: 1.2em;
                font-weight: bold;
              }

              }
          }
        }
      }
      a.act{
        text-decoration: none;
        color: red;
        font-size: 1.2em;
        font-weight: bold;
      }
    }
  }
  // Content Section
  #content {
    width: 60%;
    margin: 0 auto;
    background: #4bdb5e;
    border: 2px solid #db804b;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    &.right {
      float: right;
      width: 80%;
    }
    .breadcrums {
      margin: 1em 0 0 1em;
      height: 2em;
      a{

      }
    }
    .some_content {
      padding: 20px 0;
      height: auto;
      max-height: 500px;
      overflow-y: auto;
      h3 {
        margin-bottom: 2em;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: #db804b;
      }
      #about {
        margin: 20px auto;
        text-align: center;
      }
      .gallery {
        width: 100%;
        margin: 0 auto;
        font-size: 0;
        text-align: center;
        iframe {
          width: 90%;
        }
        .gallery_item{
          display: inline-block;
          width: 33%;
          margin-bottom: 2em;
          text-align: center;
          vertical-align: bottom;
          // border: 1px solid black;

          .pic {
            margin: 10px 20px;
            position: relative;

            .bg {
              // display: none;
              opacity: 0;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background: rgba(0,0,0,0.4);
              cursor: pointer;
              transition: all .2s linear;
              p {
                position: relative;
                top: 45%;
                color: white;
                font-size: 1.5rem;
              }

            }
              div.img {
                // width: 200px;
                height: auto;
                img {
                  width: 100%;
                }
              }
          }
          .text {
            margin: 0 20px;
            font-size: 1rem;

          }
          .price {
            margin: 0 20px;
            font-size: 1rem;
            background: #bab406;
            color: #ba0606;
          }
          &:hover .bg{
            // display: block;
            opacity: 1;
          }
        }
        .conts {
          font-size: 20px;
          text-align: center;
        }
      }
      .paggination {
        text-align: center;
        margin: 2em auto;
        a {
          margin: 0 5px;
          &.here {
            color: red;
            text-decoration: none;
          }
        }


      }
    }
  }
  // popUp
  .popUp {
    display: none;
    .popUp_bg{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 20;
      .window {
        background: #fff;
        min-width: 320px;
        min-height: 400px;
        width: 500px;
        height: 500px;
        margin: 2% auto;
        text-align: center;
        z-index: 9999;
        position: relative;
        p{
          cursor: pointer;
          position: absolute;
          right: 10px;
          top: 10px;
        }
        .inner {
          padding: 2%;
          h3 {
            margin-top: 15%;
          }
          form {
            margin-top: 20%;
            input, select {
              display: block;
              width: 80%;
              margin: 30px auto;
            }
          }
        }
      }
      .windowThx {
        display: none;
        background: #fff;
        min-width: 320px;
        min-height: 400px;
        width: 500px;
        height: 500px;
        margin: 2% auto;
        text-align: center;
        z-index: 9999;
        position: relative;
        p{
          cursor: pointer;
          position: absolute;
          right: 10px;
          top: 10px;
        }
        h3 {
          padding-top: 45%;
        }
      }
    }
  }

  // Footer Section
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 65px;
    width: 100%;
    background: #4ac0ff;
    text-align: center;

    div.footer_wrap {
        margin-top: 1em;
      .copyright {
        p {
        }
      }
      .mySocMedia {
        div {
          display: inline-block;
          margin: 5px;
          a {
            color: black;
          }
        }
      }
    }
  }
}
